<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="layout" href="/tabs/layout">
      <ion-icon aria-hidden="true" name="grid"></ion-icon>
      <ion-label>Layout</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="plots" href="/tabs/plots">
      <ion-icon aria-hidden="true" name="business"></ion-icon>
      <ion-label>Plots</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="payments" href="/tabs/payments">
      <ion-icon aria-hidden="true" name="cash"></ion-icon>
      <ion-label>Payments</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reports" href="/tabs/reports">
      <ion-icon aria-hidden="true" name="bar-chart"></ion-icon>
      <ion-label>Reports</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
