<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Indira Krishna Layout - Plot View</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Layout View</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Survey Selection -->
  <div class="survey-selector">
    <ion-segment [(ngModel)]="selectedSurvey" (ionChange)="onSurveyChange($event)">
      <ion-segment-button value="152/1">
        <ion-label>Survey 152/1</ion-label>
      </ion-segment-button>
      <ion-segment-button value="152/2">
        <ion-label>Survey 152/2</ion-label>
      </ion-segment-button>
      <ion-segment-button value="152/3">
        <ion-label>Survey 152/3</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <!-- Status Legend -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ getSurveyDisplayName(selectedSurvey) }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="status-legend">
        <div class="legend-item">
          <ion-chip color="light">
            <ion-icon name="ellipse-outline"></ion-icon>
            <ion-label>Available ({{ getStatusCount(PlotStatus.AVAILABLE) }})</ion-label>
          </ion-chip>
        </div>
        <div class="legend-item">
          <ion-chip color="warning">
            <ion-icon name="time-outline"></ion-icon>
            <ion-label>Pre-booked ({{ getStatusCount(PlotStatus.PRE_BOOKED) }})</ion-label>
          </ion-chip>
        </div>
        <div class="legend-item">
          <ion-chip color="success">
            <ion-icon name="checkmark-circle"></ion-icon>
            <ion-label>Sold ({{ getStatusCount(PlotStatus.SOLD) }})</ion-label>
          </ion-chip>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Plot Grid -->
  <div class="plot-grid-container">
    <div class="plot-grid">
      <div 
        class="plot-row" 
        *ngFor="let row of gridRows; trackBy: trackByRow"
      >
        <div 
          class="plot-cell"
          *ngFor="let plot of row; trackBy: trackByPlot"
          [style.background-color]="getPlotColor(plot)"
          [style.color]="getPlotTextColor(plot)"
          (click)="onPlotClick(plot)"
        >
          <div class="plot-number">{{ getCleanPlotNumber(plot) }}</div>
          <div class="plot-dimensions">{{ plot.dimensions.length }}×{{ plot.dimensions.width }}</div>
          <ion-icon 
            [name]="getStatusIcon(plot.status)" 
            class="status-icon"
          ></ion-icon>
        </div>
      </div>
    </div>
  </div>

  <!-- Plot Details Modal (placeholder) -->
  <!-- <ion-modal [isOpen]="isModalOpen" (willDismiss)="closeModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Plot Details</ion-title>
          <ion-button slot="end" fill="clear" (click)="closeModal()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        
      </ion-content>
    </ng-template>
  </ion-modal> -->

</ion-content>